@inject IViewLocalizer Localizer

@model ForgotPasswordViewModel

@{ ViewData["Title"] = Localizer["ResetPassword"]; }

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3>@ViewData["Title"]</h3>
            <hr />
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning">@Localizer["Reset"]</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}