# Directories created from .Net build
bin/
obj/

# Log files
logs/

# Publish folder
publish/

# Settings files
appsettings.Staging.json
appsettings.Production.json
hosting.Staging.json
hosting.Production.json

# Certificate file
awesome.pfx

# File created from .Net restore
project.lock.json